@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&family=Source+Serif+4:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(..//background.jpg);
	background-size: cover;
	background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: rgb(20, 220, 120);
}
nav ul li{
    list-style-type: none ;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:crimson;
    transition: .4s ;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h2{
 font-size: 20px;
 color: red;
 letter-spacing: 2px;
}
h3{
    color: white;
    font-size: 70px;
    margin: 20px 0px 20px;
}
h4{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.content span{
    color: blue;
}
.new form{
    width: 370px;
    max-width: 100%;
    position: relative;
}
.new form input:first-child{
    display: inline-block;
    border-radius: 35px;
    border: 2px solid crimson;
    padding: 14px 130px 14px 15px;
    width: 100%;
    outline: none;
    font-weight: bolder;
}
.new form input:last-child{
    position: absolute;
    border: none;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: crimson;
    color: white;
    box-shadow: 0px 0px 50px #000, 0px 0px 10px #858585;
    top: 6px;
    right: 6px;
}
.new form input:last-child:hover{
    transform: scale(.9);
    transition: .3s;
    cursor: pointer;
}
.about{
    background-color: #fff;
    width: 100%;
    padding: 50px 0px;
}
.about-text{
    width: 500px;
    text-align: center;
}
.about-text h1{
    text-align: center;
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    margin-top: 100px;
}
.about-text h2{
    font-size:22px ;
    color: crimson;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-weight: bold;
}
.about img{
	height: auto;
	width: 440px;
    margin: 30px;
}
.main{
    width: 1130px;
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}
.btn{
    background-color: crimson;
    color: white;
    margin: 50px;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 13px 30px;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
}
.btn:hover{
    transform: scale(.9);
	transition: .2s;
    border: 2px solid crimson;
}
.service{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h5{
    color: white;
    text-align: center;
    font-size: 50px;
    width: 1130px;
    margin: 30px auto;
}
.box{
    display: flex;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 15px;
}
.card i{
    font-size: 45px;
    color: blue;
    display: block;
    text-align: center;
    margin: 20px 0px;
}
.card i:hover{
    transform: scale(.9);
    transition: .1s;
}
h6{
    font-size: 20px;
    margin-bottom: 14px;
    color: #fff;
}
.par p{
    color: darkgray;
    font-size: 17px;
    margin-bottom: 25px;
    line-height: 25px;
}
.card .button{
    font-size: 20px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 8px 21px;
    transition: .2s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid crimson;
}
.skills{
    width: 100%;
    font-size: 30px;
}
.contact-me{
    background: #191919;
    text-align: center;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact-me p{
    font-size: 30px;
    color: #fff;
    margin-bottom: 28px;
    font-weight: bold;
}
.contact-me .button-one{
    font-size: 20px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 8px 21px;
    transition: .2s;
    width: 140px;
    Margin-left :calc(50% - 50px);
    font-weight: bold;
}
.contact-me .button-one:hover{
    transform: scale(.9);
    transition: .2s;
}